:root {
    --mainColor: #121212;
    --secondaryColor: #202020;
    --borderColor: #c1c1c1;

    --mainTextColor: white;
    --secondaryTextColor: #b3b3b3;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    text-align: center;
    color: var(--mainTextColor);
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

p, li, span, label, input, textarea {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}