* {
  box-sizing: border-box;
  --mainColor: #121212;
  --secondaryColor: #202020;
  --themeColor: #FF325A;
  --borderColor: #c1c1c1;

  --mainTextColor: white;
}

/* Adds the tint to the image */
.content > img {
  transition: .4s;
  filter: sepia(100%) saturate(150%) brightness(60%) hue-rotate(310deg);
}

.content > h3, p {
  margin: 2px;
}

.row {
  margin: 0 -8px;
}

/* Adds padding in between the cells */
.row > .cell {
  padding: 12px;
}

/* Makes 3 columns */
.cell {
  float: left;
  width: 33.3333333%;
  transition: .4s;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: var(--secondaryColor);
  padding: 12px;
}

.cell:hover {
  transform: scale(1.1);
}

.cell:hover .content img {
  filter: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}