body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
}

canvas {
    width: calc(min(100vw, 100vh * 640 / 360));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}