.about-first-block {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  align-items: center;
}

.about-first-block p {
  font-size: 40px;
}

.about-quick-facts li {
  font-size: 40px;
}

.about-quick-facts li::marker {
  color: var(--themeColor);
}

.about-second-block span {
  color: var(--themeColor);
}

.about-third-block {
  margin-top: 35px;
}

/*p {*/
/*  line-height: 45px;*/
/*  font-size: 30px;*/
/*}*/

#about-img-1 {
  max-width: 300px;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#about-img-2 {
  max-width: 500px;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#about-img-3 {
  max-width: 500px;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}