:root {
  --mainColor: #121212;
  --themeColor: #FF325A;
  --secondaryThemeColor: #FF6229;
}

.button1 {
  background-image: linear-gradient(to right, var(--secondaryThemeColor) 0%, var(--themeColor) 100%);
  border-radius: 12px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 80%;
}

.button1span {
  align-items: center;
  font-family: var(--secondaryFont);
  font-size: 1.6vw;
  background-color: var(--mainColor);
  color: var(--themeColor);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 1s;
}

.button1:hover {
  background: radial-gradient(var(--themeColor), var(--secondaryThemeColor));
}

.button1:hover .button1span {
  color: var(--mainColor);
  box-shadow: inset 10em 0 0 0 var(--blendedColor);
}

.button1:focus {
  background: radial-gradient(var(--themeColor), var(--secondaryThemeColor));
  outline: none;
}

.button1:focus .button1span {
  color: var(--mainColor);
  box-shadow: inset 10em 0 0 0 var(--themeColor);
}

@media screen and (max-width: 1000px) {
  .button1span {
    font-size: 2vw;
  }
}

@media screen and (max-width: 700px) {
  .button1span {
    font-size: 20px;
  }
}

