.footer {
  position: absolute;
  width: 100%;
  height: 300px;
  margin-top: 5%;
  background-color: var(--secondaryColor);
  text-align: center;
}

.social a {
  /*font-size: 3vw;*/
  font-size: 40px;
  width: 10%;
  height: 10%;
  /*line-height: 5vw;*/
  display: inline-block;
  text-align: center;
  margin-top: 4%;
  color: var(--mainTextColor);
  opacity: .6;
  /*transition: 10s;*/
}

.list-inline {
  padding: 0 30px;
}

.footer ul {
  list-style: none;
  text-align: center;
  font-size: 5px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  padding: 20px 10px;
  display: inline-block;
  /*font-size: 2vw;*/
  font-size: 25px;
}

.footer ul a {
  text-decoration:none;
  color: var(--mainTextColor);
  opacity: .7;
  /*transition: 10s;*/
  /*  TODO: fix flickering  */
}

.footer .social > a:hover, .footer ul a:hover {
  opacity: 1;
}

.copyright {
  font-size: 15px;
  opacity: .6;
  margin-top: 20px;
  margin-bottom: 20px;
}

#conway-footer {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

#start-button {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 270px;
  right: 0;
  background-color: var(--mainColor);
  text-align: center;
  border: 2px solid black;
}

#start-button i {
  font-size: 20px;
  color: var(--blendedColor);
}

#start-button i {
  position: absolute;
  top: 2px;
  left: 6px;
}

#start-button:hover i {
  font-size: 24px;
  filter: brightness(170%);
  top: 0;
  left: 4px;
}

#expand-button {
  height: 25px;
  width: 50px;
  bottom: 0;
  position: absolute;
  left: calc(50% - 25px);
  right: calc(50% - 25px);
  background-color: var(--mainColor);
  text-align: center;
  border: 2px solid black;
}

#expand-button i {
  font-size: 20px;
  color: var(--blendedColor);
}

#expand-button:hover i {
  font-size: 22px;
  filter: brightness(170%);
}

#conway-speed-slider {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
  position: absolute;
  bottom: 186px;
  right: -52px;
  width: 130px;
}

#conway-density-slider {
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
  position: absolute;
  bottom: 50px;
  right: -52px;
  width: 130px;
}

@media screen and (max-width: 500px) {

  #start-button i {
    top: 0;
  }

  .social a {
    font-size: 8vw;
  }

  .footer li {
    font-size: 5vw;
    padding-bottom: 0;
  }

  .copyright {
    font-size: 3vw;
    opacity: .6;
  }

}