.inner-portfolio-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
}

/* Adds the tint to the image */
.content > img {
  transition: .4s;
  filter: sepia(100%) saturate(150%) brightness(60%) hue-rotate(-50deg);
}

.content > h3, p {
  margin: 2px;
}

.content > p {
  font-size: 22px;
}

.cell {
  width: 100%;
  height: 100%;
  transition: .4s;
  padding: 1%;
}

.content {
  width: 100%;
  height: 100%;
  background-color: var(--secondaryColor);
  padding: 12px;
}

.cell:hover {
  transform: scale(1.1);
}

.cell:hover .content img {
  filter: none;
}

@media screen and (max-width: 1000px) {
  .inner-portfolio-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
  }
}

@media screen and (max-width: 600px) {
  .inner-portfolio-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
  }
}
