#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 8%;
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: rgba(18, 18, 18, .6);
  box-sizing: border-box;
}

#logo {
  width: 70px;
  z-index: 5;
}

#logo img {
  width: 5vw;
  transition: 1s;
}

#logo img:hover {
  filter: brightness(1.7);
}

#main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style: none;
  gap: 50px;
}

.main-nav-item a {
  transition: all 1s;
  color: white;
  position: relative;
  font-size: 2.1vw;
}

.main-nav-item a:hover {
  color: var(--themeColor);
}

.main-nav-item a:after {
  transition: all .5s;
  position: absolute;
  top: 3vw;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: '.';
  color: transparent;
  background: var(--themeColor);
  height: .25vw;
}

.main-nav-item a:hover:after {
  width: 100%;
}

#main-nav-toggle {
  display: none;
  width: 100%;
  height: 100%;
}

#header-background {
  display: none;
  width: 100%;
  height: 112px;
  left: 0;
  z-index: 4;
}

@media (max-width: 820px) {

  #header-background {
    display: block;
    position: absolute;
  }

  #header-container {
    height: 112px;
  }

  #main-nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0;
    padding: 0;
    margin-top: 112px;
  }

  #main-nav-list > li {
    overflow: hidden;
  }

  .main-nav-button-container {
    /*position: absolute;*/
    display: flex;
    gap: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .main-nav-button {
    display: block;
    background-color: var(--mainTextColor);
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  #main-nav-list {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #main-nav-toggle ~ #main-nav-list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #main-nav-toggle:checked + .main-nav-button-container #top-nav-button {
    transform: rotate(405deg);
    position: absolute;
    top: calc(50% - 2px);
  }

  #main-nav-toggle:checked + .main-nav-button-container #mid-nav-button {
    background: rgba(255, 255, 255, 0);
    height: 0;
  }

  #main-nav-toggle:checked + .main-nav-button-container #bot-nav-button {
    transform: rotate(-405deg);
    position: absolute;
    top: calc(50% - 2px);
  }

  #main-nav-toggle:checked ~ #header-background {
    background-color: var(--secondaryColor);
  }

  #main-nav-toggle:checked + .main-nav-button-container {
    display: block;
    gap: 0;
  }

  #main-nav-toggle:checked ~ #main-nav-list li {
    border: 1px solid #333;
    height: 2.1em;
    padding: 0.4em;
    transition: height .4s cubic-bezier(0.23, 1, 0.32, 1);
  }

  #main-nav-toggle:checked + .main-nav-button-container #bot-nav-button {
    background: var(--blendedColor);
  }

  #main-nav-list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.4em 0;
    width: 100%;
    color: var(--mainTextColor);
    background-color: var(--secondaryColor);
  }

  #main-nav-list > li:not(:last-child) {
    border-bottom: 1px solid var(--tertiaryColor);
  }

  .main-nav-item a {
    transition: all 1s;
    color: white;
    position: relative;
    font-size: .8em;
  }

  #logo img {
    width: 70px;
  }

}
