.knowledge-showcase {
  height: 43vw;
  padding: 2%;
  overflow: hidden;
}

.language-box > h3 {
  text-align: center;
  margin-top: 2.3vw;
  margin-bottom: .8vw;
  font-size: 3.5vw;
}

.language-box {
  float: left;
  width: 33%;
  height: 100%;
  background-color: var(--secondaryColor);
  font-family: var(--secondaryFont);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Centers languages box */
.languages {
  width: 90%;
  height: 90%;
  margin: 15% 5% 5%;
  background-color: transparent;
  display: grid;

  grid-template-columns: 1fr;
}

.outer-language-info-box {
  float: right;
  width: 65.5%;
  height: 100%;
  background-color: var(--secondaryColor);
  display: block;
}

.language-info-box {
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.language .center {
  padding: .07vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.language p {
  font-size: 2vw;
}

.language {
  margin-left: 4%;
  margin-right: 4%;
  height: 3vw;
}

.language-num {
  color: var(--blendedColor);
  margin-left: 10%;
}

.language-content {
  margin-right: 10%;
}

.language:hover {
  background-color: var(--blendedColor);
  border-radius: 1.9vw;
  filter: brightness(130%);
}

.language:hover p {
  color: var(--mainColor);
}

.language:focus {
  background-color: var(--blendedColor);
  border-radius: 1.9vw;
  filter: brightness(130%);
}

.language:focus p {
  color: var(--mainColor);
}

.chart {
  display: block;
  width: 100%;
}

.chart span {
  font-size: 1.9vw;
}

.chart footer {
  height: .26vw;
  width: 100%;
  background-color: var(--quaternaryColor);
}

.progress-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  width: 100%;
}

.progress-bar {
  margin-top: .35vw;
  height: 100%;
  background-image: linear-gradient(to right, var(--themeColor) 0%, var(--secondaryThemeColor) 100%);
}

#confidence-bar {
  width: 100%;
}

#enjoyment-bar {
  width: 100%;
}

.language-description {
  font-size: 1.9vw;
}

.example-projects {
  display: flex;
  flex-direction: row;
  gap: 5%
}

.project {
  width: 100%;
  height: 100%;
  border: 3px solid var(--themeColor);
  border-radius: 1.9vw;
  display: block;
}

.project-inner {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.2vw 2.6vw;
}

.project-top span {
  font-size: 1.9vw;
  font-family: var(--secondaryFont);
}

.project-top span:hover {
  color: var(--themeColor);
}

.project-top p {
  margin: .6vw 1px;
  font-size: .95vw;
  line-height: 1vw;
  font-family: var(--secondaryFont);
  color: var(--tertiaryColor);
}

.project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-bottom p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: .95vw;
  color: var(--quaternaryColor);
}

.project-inner i {
  font-size: 2vw;
  color: var(--themeColor);
}

.knowledge-showcase:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .knowledge-showcase {
    height: 800px;
  }

  .language-box {
    float: none;
    width: 100%;
    height: 350px;
  }

  .language-box > h3 {
    font-size: 40px;
    padding-top: 5%;
    margin: 0;
  }

  .languages {
    margin: 0;
    width: 100%;
    padding: 5% 5% 0 5%;
  }

  .language {
    height: 40px;
    line-height: 35px;
  }

  .language > p {
    font-size: 20px;
  }

  .outer-language-info-box {
    float: none;
    width: 100%;
    height: 450px;
  }

  .language-info-box {
    padding: 4% 9% 9%;
    height: 96%;
  }

  .language-info-box span, .language-description {
    font-size: 19px;
  }

  .progress-bar {
    margin-top: 3px;
    height: 3px;
  }

  .project {
    border-radius: 15px;
  }

  .project-inner {
    height: 100%;
    /*justify-content: space-between;*/
  }

  .project-inner p {
    font-size: 10px;
  }

  .project-inner i {
    font-size: 18px;
  }

  .project-top {
    font-size: 16px;
  }

  .project-top p {
    line-height: 10px;
  }

}

@media screen and (max-width: 500px) {
  #knowledge_section_id {
    padding-left: 5%;
    padding-right: 5%;
  }

  .knowledge-div {
    padding-left: 2%;
    padding-right: 2%;
  }

  .knowledge-showcase {
    height: calc(30vw + 200px + 400px);
    padding-bottom: 0;
  }

  .language-box {
    height: calc(30vw + 200px);
  }

  .language {
    height: calc(4vw + 40%);
    line-height: calc(2.8vw + 140%);
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .language p {
    font-size: calc(3vw + 65%);
  }

  .outer-language-info-box {
    height: 380px;
  }

  .language-box > h3 {
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: calc(6vw + 65%);
  }

  .language-info-box {
    padding-top: 2%;
    height: 100%;
  }

  .language-info-box span, .language-description {
    font-size: calc(1.8vw + 70%);
  }

  .project-inner {
    padding: 12px 16px;
  }

  .project-inner p {
    font-size: calc(1.5vw + 30%);
  }
}
