* {
  box-sizing: border-box;
  transition: .5s;
}

.knowledge-showcase {
  height: 40vw;
  padding: 2%;
  overflow: hidden;
}

.language-box > h3 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
  font-size: 3.5vw;
}

.language-box {
  float: left;
  width: 33%;
  height: 100%;
  background-color: var(--secondaryColor);
  font-family: var(--secondaryFont);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Centers languages box */
.languages {
  width: 90%;
  height: 90%;
  margin: 10% 5% 5%;
  background-color: transparent;
  display: grid;

  grid-template-columns: 1fr;
}

.outer-language-info-box {
  float: right;
  width: 65.5%;
  height: 100%;
  background-color: var(--secondaryColor);
  display: block;
}

.language-info-box {
  padding: 2.2vw 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.language > p {
  font-size: 2vw;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  height: 2.8vw;
  line-height: 2.3vw;
}

.language-num {
  color: var(--blendedColor);
  margin-left: 10%;
}

.language-content {
  margin-right: 10%;
}

.language:hover {
  background-color: var(--blendedColor);
  border-radius: 1.9vw;
  filter: brightness(130%);
}

.language:hover p {
  color: var(--mainColor);
}

.chart {
  /*margin-left: 7%;*/
  /*margin-right: 7%;*/
  margin-bottom: 1.4vw;
  display: block;
}

.chart span {
  font-size: 1.9vw;
}

.chart footer {
  height: .26vw;
  width: 100%;
  background-color: var(--quaternaryColor);
}

.progress-bar {
  margin-top: .35vw;
  height: 100%;
  background-image: linear-gradient(to right, var(--themeColor) 0%, var(--secondaryThemeColor) 100%);
}

#confidence-bar {
  width: 100%;
}

#enjoyment-bar {
  width: 100%;
}

.language-description {
  /*margin: -1% 10% 3%;*/
  font-size: 1.9vw;
}

.example-projects {
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%
}

.project {
  width: 100%;
  height: 100%;
  border: 3px solid var(--themeColor);
  border-radius: 1.9vw;
  display: block;
}

.project-inner {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.2vw 2.6vw;
}

.project-top span {
  font-size: 1.9vw;
  font-family: var(--secondaryFont);
}

.project-top span:hover {
  color: var(--themeColor);
}

.project-top p {
  margin: .6vw 1px;
  font-size: .95vw;
  line-height: 1vw;
  font-family: var(--secondaryFont);
  color: var(--tertiaryColor);
}

.project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-bottom p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: .95vw;
  color: var(--quaternaryColor);
}

.project-inner i {
  font-size: 2vw;
  color: var(--themeColor);
}

.knowledge-showcase:after {
  content: "";
  display: table;
  clear: both;
}