* {
  box-sizing: border-box;
  transition: .5s;
}

.knowledge-showcase {
  height: 600px;
  padding: 2%;
}

.language-box > h3 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
  font-size: 50px;
}

.language-box {
  float: left;
  width: 33%;
  height: 100%;
  background-color: var(--secondaryColor);
  font-family: var(--secondaryFont);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Centers languages box */
.languages {
  width: 90%;
  height: 90%;
  margin: 10% 5% 5%;
  background-color: transparent;
  display: grid;

  grid-template-columns: 1fr;
}

.language-info-box {
  float: right;
  width: 65.5%;
  height: 100%;
  background-color: var(--secondaryColor);
}

.language > p {
  font-size: 30px;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  max-height: 40px;
}

.language-num {
  color: var(--blendedColor);
  margin-left: 10%;
}

.language-content {
  margin-right: 10%;
}

.language:hover {
  background-color: var(--blendedColor);
  border-radius: 20px;
  filter: brightness(130%);
}

.language:hover p {
  color: var(--mainColor);
}

.language-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.progress-bars {
  margin-top: 5%;
}

.chart {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  display: block;
}

.chart span {
  font-size: 30px;
}

.chart footer {
  height: 4px;
  width: 100%;
  background-color: var(--quaternaryColor);
}

.progress-bar {
  height: 100%;
  margin-top: 3%;
  background-image: linear-gradient(to right, var(--themeColor) 0%, var(--secondaryThemeColor) 100%);
}

#confidence-bar {
  width: 100%;
}

#enjoyment-bar {
  width: 100%;
}

.language-description {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -3%;
}

.example-projects {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  height: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%
}

.project {
  width: 100%;
  height: 100%;
  border: 3px solid var(--themeColor);
  border-radius: 20px;
}

.project-inner {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 40px;
}

.project-top span {
  font-size: 27px;
  font-family: var(--secondaryFont);
}

.project-top span:hover {
  color: var(--themeColor);
}

.project-top p {
  margin: 10px 1px;
  font-size: 15px;
  font-family: var(--secondaryFont);
  color: var(--tertiaryColor);
}

.project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-bottom p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
  color: var(--quaternaryColor);
}

.project-inner i {
  font-size: 30px;
  color: var(--themeColor);
}

.knowledge-showcase:after {
  content: "";
  display: table;
  clear: both;
}