* {
  box-sizing: border-box;
  transition: .5s;
}

.knowledge-showcase {
  height: 600px;
  padding: 2%;
}

.language-box > h3 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
  font-size: 50px;
}

.language-box {
  float: left;
  width: 33%;
  height: 100%;
  background-color: var(--secondaryColor);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Centers languages box */
.languages {
  width: 90%;
  height: 90%;
  margin: 10% 5% 5%;
  background-color: transparent;
  display: grid;

  grid-template-columns: 1fr;
}

.language-info-box {
  float: right;
  width: 65.5%;
  height: 100%;
  background-color: var(--secondaryColor);
}

.language > p {
  font-size: 30px;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  max-height: 40px;
}

.language-num {
  color: var(--blendedColor);
  margin-left: 10%;
}

.language-content {
  margin-right: 10%;
}

.language:hover {
  background-color: var(--blendedColor);
  border-radius: 20px;
  filter: brightness(130%);
}

.language:hover p {
  color: var(--mainColor);
}

.knowledge-showcase:after {
  content: "";
  display: table;
  clear: both;
}