#matrix-text {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#matrix-text h1 {
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
  margin: 0!important;
}

.matrix-scroll {
  width: 25px;
  background-color: var(--themeColor);
  position: absolute;
  mix-blend-mode: screen;
}

.blur {
  position: absolute;
  top: 90vh;
  width: 100%;
  min-height: 100px;
  backdrop-filter: blur(5px);
  z-index: 1;
}