.random-project-div {
  display: none;
  visibility: hidden;
}

.random-project-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.random-project-title i {
  font-size: 80px;
  background: -webkit-linear-gradient(var(--secondaryThemeColor), var(--themeColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.random-project-image {
  align-items: center;
  width: 100%;
  /*height: 90vh;*/
}

.random-project-image img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.random-project-text-video {
  margin-top: -40px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  align-items: center;
}

.random-project-video {
  max-width: 300px;
}

iframe {
  display: block;
  height: 315px;
  width: 420px;
}

.thing-learned-item p {
  color: var(--tertiaryColor);
}

.call-to-action-box {
  margin-top: -20px;
  gap: 80px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.random-project-sixth-block {
  height: 300px;
}

.additional-projects-block {
  gap: 10px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.additional-projects-row {
  scroll-behavior: smooth;
}

.scroll-button {
  height: 200px;
  width: 100px;
  background-color: var(--blendedColor);
  font-size: 80px;
  font-family: arial, helvetica, sans-serif;
  transition: .5s;
}

.scroll-button:hover {
  filter: brightness(130%);
}

.additional-projects-row {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.additional-project-item {
  height: 180px;
  min-width: 180px;
  background-color: var(--secondaryColor)
}

.additional-project-image {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.project-icon-image {
  height: 100%;
  width: 100%;
  transition: .4s;
  filter: sepia(100%) saturate(150%) brightness(60%) hue-rotate(-50deg);
}

.project-icon-image:hover {
  filter: none;
}

ol li::marker {
  color: var(--blendedColor);
}

@media screen and (max-width: 1000px) {

  .page-section {
    padding: 130px 10vw 3vw;
  }

  .random-project-second-block h3 {
    margin-bottom: 45px;
  }

  .random-project-second-block p {
    padding-top: 6%;
    padding-bottom: 1%  ;
  }

  .random-project-text-video iframe {
    margin-left: auto;
    margin-right: auto;
  }

  .random-project-text-video {
    display: block;
  }

  .call-to-action-box {
    display: block;
  }

  .call-to-action-box .button1 {
    width: 200px;
    margin-right: auto;
  }

}

@media screen and (max-width: 800px) {

  .random-project-sixth-block {
    height: 65vw;
  }

  .additional-projects-block {
    height: 33vw;
  }

  .scroll-button {
    width: 13vw;
    height: 25vw;
    font-size: 10vw;
    color: var(--mainColor);
    border: 2px solid black;
  }

  .additional-projects-row {
    height: 25vw;
  }

  .additional-project-item {
    min-width: 22.537vw;
    height: 22.537vw;
  }

  .additional-project-image {
    padding: 1.25vw;
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width: 600px) {

  .page-section h2, .random-project-title i {
    font-size: 11vw;
  }

  .page-subtitle {
    font-size: 5.5vw;
  }

  .random-project-image img {
    margin: 0 0 8% 0;
    width: 100%;
  }

  .subtitle {
    font-size: 7.2vw;
  }

  p, .thing-learned-item {
    font-size: 5vw;
  }

  .random-project-text-video iframe {
    width: 100%;
    height: 55vw;
  }

  .things-learned-list {
    padding-inline-start: 6vw;
  }

  .call-to-action-box {
    margin-top: 23px;
  }

}
