:root {
  --mainColor: #121212;
  --secondaryColor: #202020;
  --tertiaryColor: #b8b8b8;
  --quaternaryColor: dimgrey;
  --themeColor: #FF325A;
  --secondaryThemeColor: #FF6229;
  --blendedColor: #FF3854;

  --mainTextColor: white;

  --mainFont: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --secondaryFont: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

html, body {
  padding: 0;
  margin: auto;
  font-family: var(--mainFont);
  background-color: var(--mainColor);
}

p {
  color: var(--mainTextColor)
}

h1 {
  font-size: 90px;
  color: var(--mainTextColor);
}

h2 {
  font-size: 65px;
  margin-bottom: 3%;
  background: -webkit-linear-gradient(var(--secondaryThemeColor), var(--themeColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 35px;
  color: var(--mainTextColor);
}

p, li, span, label, input, textarea {
  color: var(--mainTextColor);
  font-size: x-large;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  height: 2px;
  background: var(--themeColor) linear-gradient(to right, var(--secondaryThemeColor), var(--themeColor), var(--secondaryThemeColor));
  margin-top: 3%;
  margin-bottom: 3%;
}

.greeting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.greeting-section h1 {
  text-align: center;
}


.portfolio-section {
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  overflow: auto;
  text-align: left;
}

.portfolio-div, .contact-div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.portfolio-section a, .contact-section a {
  place-self: center;
}

.knowledge-section {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
  text-align: left;
}

.knowledge-div {
  align-items: center;
}

.contact-section {
  padding: 10%;
  overflow: auto;
  text-align: left;
}

.page-section {
  padding: 170px 10% 3%;
  overflow: auto;
  text-align: left;
}

.page-section h2 {
  font-size: 80px;
  margin-top: 0;
  margin-left: -4px;
  margin-bottom: 0;
}

.page-subtitle {
  color: var(--quaternaryColor);
  margin-top: 2%;
}